# Ignore built files and test files here
rbftest
qetest
ix_combined
ixtest1
ixtest2
out.txt
out
err.txt
test
test_1
test_2
test_3
test_4
test_5
testFile0.db
testFile1.db
testFile2.db
RM_SYS_ATTRIBUTE_TABLE.db
RM_SYS_CATALOG_TABLE.db
RM_SYS_INDEX_TABLE.db
tbl_employee0
tbl_employee1
tbl_employee2
tbl_employee3
tbl_employee4
combined_tests
rmtest_1
rmtest_2
rmtest_extra
testAddDelete_StringIndex
testAddDelete_IntegerIndex
Age_idx
Height_idx
EmpName_idx
testSkewedDelete
left
left.A
left.B
left.C
right
right.A
right.B
right.C
leftvarchar
rightvarchar
group